*.pyc
*.swp
*.ipynb_checkpoints
*.pth.tar
data/
added_layers/
augmented_3layer/
logs/
random_search/
random_search_aug_1/
random_search_aug_2/
random_search_sept_20/
runs
test_acc/
untitled_project/
vocab
webservice
*.pkl
requirements.txt
requirements_build.txt
post_image_to_webservice.py
LICENSE
cosine_sim_example.ipynb
